.app-container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .content {
    margin-left: 250px; /* Adjust for the sidebar width */
    padding: 20px;
    width: calc(100% - 250px);
    background-color: #104a1d;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 60px;
    }
  
    .content {
      margin-left: 60px;
      width: calc(100% - 60px);
    }
  }
  