/* Profile.css */

.profile-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f9f7;
  padding: 20px;
  background-image: url('../../assets/farm2.jpeg');
  background-size: cover;
}

.profile-card {
  background-color: #ffffffb6;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  border: 2px solid #2e5d40;
}
.profile-card:hover{
  box-shadow: 0 0 10px 5px #2e5d40;
}
.profile-header {
  font-size: 24px;
  color: #3b7a57; /* Dark green for a farmer-friendly look */
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 16px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-group {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-primary {
  background-color: #3b7a57;
  color: #fff;
}

.btn-primary:hover {
  background-color: #2e5d40;
}

.btn-secondary {
  background-color: #f0f0f0;
  color: #333;
}

.btn-secondary:hover {
  background-color: #e0e0e0;
}

.btn-warning {
  background-color: #ffeb3b;
  color: #333;
}

.btn-warning:hover {
  background-color: #fdd835;
}

.btn-danger {
  background-color: #d9534f;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c9302c;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-info p {
  font-size: 16px;
  color: #333;
}

.profile-info .username {
  font-weight: bold;
}

.rented-products-list {
  list-style-type: none;
  padding: 0;
}

.rented-product-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.rented-product-item:last-child {
  border-bottom: none;
}
.pbtn{
  margin-top: 10px;
}