/* LandingPage.css */
.landing-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/image.png');
    background-size: cover;
    background-position: center;
  }
  
  .hero-section {
    text-align: center;
    color: white;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .hero-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hero-button:hover {
    background-color: darkorange;
  }
  